.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
  margin-bottom: 20px;
}

.App-header {
  color: #000;
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 18px;
  margin: 4px 0;
}